
.education {
    padding: 3rem 0;
    margin-left: 230px;
    margin-top: -1650px;
  }

  .education h2 {
    font-size: 30px;
    margin-bottom: 1.2rem;
    margin-top: .2rem;
  }
  
  .education-item {
    margin-bottom: 2rem;

  }
  
  
  .education-item p {
    font-size: 1.1rem;
    color:black;
    margin: 0.5rem 0;
  }
  .education h2::after {
    content: '';
    display: block;
    width: 140px;
    height: 3px;
    background-color: #007bff;
    margin-top: 0.5rem;
  }
  /* Media Queries */
@media (max-width: 768px) {
    .education {
      padding: 3rem 0;
      margin-left: 0;
      margin-top: 0; /* Adjust margin for smaller screens */
    }
  
    .education h2::after {
      width: 80px;
      margin-left: auto;
      margin-right: auto;
    }
  }