
.logo {
    display: flex;
    align-self: left;  
}
  
  .logo img {
    width: 40px; /* Adjust dimensions as needed */
    height: 40px;
    margin-right: 850px; /* Add some spacing between logo and text */
    justify-content: left;
  }
  