/* Navbar.css */

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #222;
    padding: 1rem 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin: 0 20px;
    padding: 10px 0;
    transition: color 0.3s ease-in-out;
    letter-spacing: 1px;
    margin-right: 45px;
  }
  
  .navbar a:hover {
    color: #66ccff;
  }


  /* Media Queries */
@media (max-width: 768px) {
    .navbar {
        justify-content: center; /* Center items on smaller screens */
    }
    
    .navbar a {
        margin: 0 5px; /* Adjust margin for smaller screens */
    }
}